*.pdf
*.html
*.py[co]
dist.zip
df*.csv
macrodata.csv

.idea/
__pycache__/
_build/
.pytest_cache/
.hypothesis
venv/
/Notebooks/*.run.ipynb
/Notebooks/*_de.ipynb
/Notebooks/*_en.ipynb
/Notebooks/.ipynb_checkpoints/
